button {
    width: 106px;
    height: 25px;
    border: none;
    border-radius: var(--border-radius-20);
    font-family: var(--font-family-nokora);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    background-color: var(--background-color-light-yellow);
    color: var(--font-color-dark-purple);
    cursor: pointer;
}