button {
    width: 281px;
    height: 21px;
    border: none;
    border-radius: var(--border-radius-3);
    background-color: transparent;
    font-size: var(--font-size-16);
    color: var(--font-color-dark-purple);
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: start;

    transition: var(--transition-smooth-and-bg-025);
    cursor: pointer;

    >app-checkbox-component {
        margin-right: 15px;
    }

    >span {
        font-weight: var(--font-weight-700);
        margin-right: 10px;
    }

    >span:last-of-type {
        font-weight: var(--font-weight-400);
    }

    &:hover {
        background-color: var(--background-color-light-yellow);
    }
}