input {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: var(--border-radius-5);
  border-top-right-radius: var(--border-radius-20);
  border: none;
  padding: 8px;
  font-family: var(--font-family-Mulish);
  font-size: var(--font-size-16);
  color: var(--font-color-dark-purple);
  transition: var(--transition-smooth-and-bg-025);
  resize: none;
  box-sizing: border-box;
  overflow-y: hidden;
  &:focus {
    outline: none;
    background-color: var(--background-color-light-yellow);
  }
}

textarea {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: var(--border-radius-5);
  border-top-right-radius: var(--border-radius-20);
  border: none;
  padding: 8px;
  font-family: var(--font-family-Mulish);
  font-size: var(--font-size-16);
  color: var(--font-color-dark-purple);
  transition: var(--transition-smooth-and-bg-025);
  resize: none;
  box-sizing: border-box;
  overflow-y: hidden;
  &:focus {
    outline: none;
    background-color: var(--background-color-light-yellow);
  }
}