button {
  width: 480px;
  max-width: 513px;
  height: 127px;
  border-radius: var(--border-radius-5);
  border-top-right-radius: 50px;
  border: none;
  background-color: rgba(217, 217, 217, 0.08);
  transition: var(--transition-smooth-and-bg-025);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  > div {
    width: 473px;
    height: 100px;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 8px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: start;

      > span {
        font-family: var(--font-family-Mulish);
        font-size: var(--font-size-16);
        color: var(--background-color-medium-yellow);
      }

      > span:last-of-type {
        font-family: var(--font-family-Mulish);
        font-size: var(--font-size-24);
        font-weight: var(--font-weight-500);
        color: white;
      }
    }

    > section {
      display: flex;
      justify-content: end;
      margin-right: 10px;
      margin-top: 15px;
    }
  }

  &:hover {
    transition: all 0.25s ease;
    background-color: rgba(217, 217, 217, 0.16);
  }
}

@media (max-width: 1600px) {
  button {
    width: 480px;
    max-width: 320px;

    > div {
      width: 473px;
      height: 100px;

      > div {
        margin-left: 10px;
        margin-right: 10px;

        > span {
          font-size: var(--font-size-16);
        }

        > span:last-of-type {
          font-size: var(--font-size-20);
          font-weight: var(--font-weight-500);
        }
      }

      > section {
        display: flex;
        justify-content: end;
        margin-right: 10px;
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 340px) {
  button {
    scale: 0.9;
  }
}
