<div class="home">
    <!-- <app-primary-button-component>New Survey</app-primary-button-component> -->
    <!-- <app-secondary-button-component>Add option</app-secondary-button-component> -->
    <!-- <app-filter-button-component>Past survey</app-filter-button-component> -->
    <!-- <app-survery-status-component></app-survery-status-component> -->
    <!-- <app-delete-button-component></app-delete-button-component> -->
    <!-- <app-checkbox-component></app-checkbox-component> -->
    <app-highlight-card-component></app-highlight-card-component>
</div>