@if (survey) {
  <div class="survey wrapper">
    <div class="survey-header">
      <app-header-component (click)="goHome()" logoColor="dark"></app-header-component>
      <app-primary-button-component (click)="goCreate()" icon="add"
        >Create survey</app-primary-button-component
      >
    </div>

    <section class="survey-answer-container">
      <div class="survey-answers">
        <div class="survey-answer-info">
          <app-survery-status-component [color]="'deep'">Published</app-survery-status-component>
          <div>
            <p>Ends on {{ getEndDate() }}</p>
            <p>Category: {{ survey.category }}</p>
          </div>
        </div>
        <div class="survey-headline">
          <p>{{ survey.headline }}</p>
          <p>{{ survey.description }}</p>
        </div>
        <div class="survey-answer-list">
          @for (item of questions; track item; let i = $index) {
            <app-question-answer-component
              [questionNumber]="i + 1"
              [questionTitle]="item.question_headline"
              [questionMoreAnswers]="item.multiple_choice"
              [questions]="
                answers
                  .filter((a) => a.question_id === item.id)
                  .map((a) => ({ text: a.answer_text }))
              "
            ></app-question-answer-component>
          }
        </div>
      </div>

      <div class="survey-results">
        <div class="survey-results-headline">
          <p>Survey results <span>LIVE</span></p>
        </div>
        <div class="survey-results-all">
          @for (item of questions; track item; let i = $index) {
            <app-results-component
              [question]="item.question_headline"
              [bars]="
                answers
                  .filter((a) => a.question_id === item.id)
                  //here procent
              "
            ></app-results-component>
          }
        </div>
      </div>
    </section>
  </div>
}
