button{
    width: 94px;
    height: 26px;
    border: none;
    border-top-right-radius: 14px;
    font-family: var(--font-family-nokora);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
}