button {
    width: 94px;
    height: 26px;
    border: none;
    border-top-right-radius: 14px;
    font-family: var(--font-family-nokora);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-600);
    color: var(--font-color-dark-purple);

    &.light {
        background-color: var(--background-color-light-yellow);
    }

    &.dark {
        background-color: var(--background-color-deep-yellow);
    }
}