label {
  display: flex;
  align-items: start;
  max-width: 270px;
  cursor: pointer;
  align-items: center;

  p {
    margin: 0px;
    margin-top: -3px;
    color: white;
    margin-left: 5px;
  }
}
input {
  appearance: none;
  min-width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 3px;

  background-color: transparent;
  transition: var(--transition-smooth-and-bg-025);

  display: inline-grid;
  place-items: center;
  vertical-align: middle;
  margin: 0px;
}

input:checked {
  background-color: var(--background-color-deep-yellow);
  border: none;
}

input::after {
  content: '';
  width: 3px;
  height: 7px;

  border: solid var(--background-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);

  opacity: 0;
  transition: opacity 0.15s ease;
}

input:checked::after {
  opacity: 1;
}
