input {
  appearance: none;
  width: 20px;
  height: 20px;

  border: 1.5px solid black;
  border-radius: 3px;

  background-color: white;
  cursor: pointer;

  display: inline-grid;
  place-items: center;
  vertical-align: middle;
}

input:checked {
  background-color: var(--background-color-deep-yellow);
  border: none;
}

input::after {
  content: "";
  width: 5px;
  height: 9px;

  border: solid var(--background-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);

  opacity: 0;
  transition: opacity 0.15s ease;
}

input:checked::after {
  opacity: 1;
}