button {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 37px;
    border-radius: var(--border-radius-10);
    border: none;
    font-family: var(--font-family-nokora);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
    background-color: rgba(255, 183, 112, 0.3);
    color: var(--font-color-white);
    transition: var(--transition-smooth-and-bg-025);
    cursor: pointer;

    &:hover {
        transition: all 0.25s ease;
        background-color: rgba(255, 183, 112, 0.6);
    }
}