button {
    width: 112px;
    height: 37px;
    border-radius: var(--border-radius-10);
    border: none;
    font-family: var(--font-family-nokora);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
}