button {
    min-width: 138px;
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border: none;
    padding: 0 16px;
    font-family: var(--font-family-nokora);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-700);
    line-height: 1;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-medium-yellow);
    transition: var(--transition-smooth-and-bg-025);
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;

        opacity: 0;
        transform: translateX(-8px);
        transition: all 0.25s ease;
    }

    &:hover {
        width: 172px;
        background-color: var(--background-color-deep-yellow);

        svg {
            opacity: 1;
            transform: translateX(0);
        }
    }

}