button {
    min-width: 138px;
    height: 48px;
    border-radius: 10px;
    border: none;
    width: 140px;
    padding: 16px;
    // transition: width 0.2s ease;

    // &:hover {
    //     width: 172px;
    // }

    svg{
        width: 24px;
        height: 24px;
    }
}